body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(
    45deg,
    hsl(340, 75%, 80%),
    hsl(200, 75%, 80%),
    hsl(45, 75%, 80%),
    hsl(120, 75%, 80%),
    hsl(280, 75%, 80%),
    hsl(210, 75%, 80%),
    hsl(55, 75%, 80%)
  );
  background-size: 300% 300%;
  animation: breathingGradientAnimation 30s infinite alternate;
}

.container {
  text-align: center;
}

img {
  opacity: 0;
  margin-bottom: 20px; /* Adjust margin as needed */
  border-radius: 50%; /* Add round borders */
  border: 7px solid #635f67;
  outline: 10px solid transparent; /* Add a transparent outline */
  outline-offset: -10px; /* Offset to make it look like a border */
  animation: fadeInImage 1s ease-in-out forwards 11.5s,
    moveFromTop 1s ease-in-out forwards 11.5s;
  transition: border-color 0.3s ease, box-shadow 0.3s ease; /* Add smooth transition */

  /* Set explicit width and height for the image */
  width: 250px; /* Adjust as needed */
  height: 250px; /* Adjust as needed */
}

h1 {
  position: absolute;
  margin: 0;
  opacity: 0;
}

.first-heading {
  font-size: 10vw;
  font-family: "Open Sans", sans-serif;

  animation: fadeInAndOut 7s ease-in-out forwards;
}

.second-heading {
  font-size: 10vw;
  font-family: "Open Sans", sans-serif;

  animation: fadeInAndOut 7s ease-in-out 5.5s forwards;
}

.about-section p,
p {
  line-height: 1.6;
  color: #282626;
  font-weight: lighter;
  font-size: 1.2em;
  margin: 5px 0;
  opacity: 0;
  text-align: center;
  transform: translateX(-50px);
  animation: fadeInLeft 1s ease-out forwards 11.5s,
    fadeInOpacity 1s ease-in-out forwards 11.5s;
}

.catchy-font {
  font-weight: bold;
  font-family: "Your Catchy Font", sans-serif; /* Use the correct font name */
}

.highlight {
  font-weight: bold;
  font-style: italic;
  color: #483333; /* Choose your desired color */
}

/* Add this style to remove extra spacing between icons */
.contact-section a {
  display: inline-block;
}

/* Add this style to make the contact section icons black */
.contact-section a i {
  color: black;
  margin-right: 10px; /* Adjust the margin for spacing between icons */
  transition: color 0.3s ease; /* Add smooth transition for color change */
}

/* Add this style to make icons glow in orange on hover */
.contact-section a i:hover {
  color: orange;
}

/* Add this style for a different hover effect */
img:hover {
  border: 7px solid teal; /* Change border color to teal on hover */
  box-shadow: 0 0 70px teal; /* Add a teal-colored box shadow on hover */
}

@keyframes fadeInAndOut {
  0% {
    font-size: 0vw;
    opacity: 0;
  }
  25% {
    font-size: 10vw;
    opacity: 1;
  }
  50% {
    font-size: 1vw;
    opacity: 1;
  }
  110% {
    font-size: 0vw;
    opacity: 0;
  }
}

@keyframes fadeInLeft {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInOpacity {
  to {
    opacity: 1;
  }
}

@keyframes breathingGradientAnimation {
  0%,
  100% {
    background-size: 300% 300%;
    background-position: 0% 50%;
  }
  25% {
    background-size: 300% 300%;
    background-position: 100% 50%;
  }
  50% {
    background-size: 300% 300%;
    background-position: 0% 50%;
  }
  75% {
    background-size: 300% 300%;
    background-position: 100% 50%;
  }
}

@keyframes fadeInImage {
  to {
    opacity: 1;
  }
}

@keyframes moveFromTop {
  0% {
    transform: translateY(-50px);
  }
  100% {
    transform: translateY(0);
  }
}
